@import "../blocks/variables";

.main-block{
    overflow: hidden;
    max-width: 100%;
}

@import 'block-1';
@import 'block-2';
@import 'block-3'; 
@import 'block-4';
@import 'block-5';
@import 'service';


.hide-on-mobile{
    @include mobile{
        display: none;
    }
}
