@import 'variables';

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(150px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRightBig {
  animation-name: fadeInRight;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes dash {
  from {
      stroke-dashoffset: -1000;
  }

  to {
      stroke-dashoffset: 0;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -150px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes glassFall {
  from {
    transform: rotate(0) translateX(0);
  }

  to {
    transform: rotate(-90deg) translateX(24px);
  }
}

.glass-fall {
  animation-name: glassFall;
}