@import 'variables';

.footer {
    padding-top: 367px;
    padding-bottom: 50px;

    .container{
        display: flex;
        flex-direction: column;
    }
    
    &__info{
        text-align: center;
        font-size: 18px;
        letter-spacing: 0.1em;
    }

    &__axlab {
        position: relative;
        display: inline-block;
        margin: auto;
        margin-top: 46px;
        font-weight: 300;
        text-decoration: none;
        color: inherit;
        font-size: 18px;
        letter-spacing: 0.1em;

        &:after {
            content: "";
            position: absolute;
            bottom: -5px;
            height: 1px;
            background-color: $black;
            left: 0;
            transition: all ease-out 0.3s;
            width: 0;
        }

        &:hover {
            &.footer__axlab::after {
                width: 100%;
            }
        }

    }
}