@import 'variables';

.form{
    padding-top: 308px;
    position: relative;

    .container{
        position: relative;
        z-index: 1;
    }

    &__bubble{
        position: absolute;
        left: 0;
        transform: translateX(-80%);
        top: 193px;
    }

    &__border{
        position: absolute;
        z-index: -1;
        bottom: -456px;
        left: 50%;
        margin-left: -418px;
    }

    &__title{
        font-weight: 300;
        font-size: 36px;
        text-align: center;
        letter-spacing: 0.1em;
    }

    &__inputs-wrapper{
        margin: auto;
        margin-top: 111px;
        width: 352px;
        height: 352px;
        background-color: $black;
        padding: 25px 29px;
    }

    &__input{
        margin-bottom: 25px;

        &:nth-of-type(1){
            width: 96px;
        }

        &:nth-of-type(2){
            width: 234px;
        }

        &:nth-of-type(3){
            width: 176px;
        }
        
    }

    &__file{
        margin: auto;
        margin-top: 42px;
        width: 352px;
        display: block;
        position: relative;
        z-index: 1;
        cursor: pointer;

        input{
            display: none;
        }
    }

    &__file-text{
        position: absolute;
        line-height: 26px;
        font-size: 18px;
        text-transform: lowercase;
        left: 29px;
        top: 50%;
        transform: translateY(-60%);
    }

    &__description{
        margin: auto;
        margin-top: 32px;
        line-height: 20px;
        font-size: 13px;
        max-width: 352px;
    }

    &__img{
        position: absolute;
        left: 351px;
        bottom: -193px;

        @include container{
            left: 128px;
            bottom: -293px;
        }
    }

    &__img-man{
        position: absolute;
        bottom: 29px;
        left: 373px;

    }

    
}